files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 30,
          "region": "ap-northeast-2"
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/info/*.log",
                  "log_group_name": "beanstalk_docker_info.log",
                  "log_stream_name": "beanstalk_docker_stream_info.log"
                },
                  {
                  "file_path": "/var/log/warn/*.log",
                  "log_group_name": "beanstalk_docker_warn.log",
                  "log_stream_name": "beanstalk_docker_stream_warn.log"
                },
                  {
                  "file_path": "/var/log/error/*.log",
                  "log_group_name": "beanstalk_docker_error.log",
                  "log_stream_name": "beanstalk_docker_stream_error.log"
                }
              ]
            }
          }
        }
      }
      
container_commands:
  start_agent:
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
